div(class='post')
	h1 About
	p My name is Preetam Jinka. I created this blog to write about things. I just want something to document my experiences and have something to look back on later in life.
	| <p>The source code is available on <a href="https://github.com/PreetamJinka/Misframe-Platform">Github</a>. Fork away!</p>
	h2 Me
	| <p>I like technology, business, art, and music. I'm currently a senior at <a href="http://tjhsst.edu/">TJHSST</a>, and I created <a href="http://bitcable.com"/>Bitcable</a> in August 2010. I pay attention to the details. I'm an INTJ.</p>
