div(class='post')
	h1 About
	p I created this blog to write about things. I just want something to document my experiences and have something to look back on later in life.
	| <p>The source code is available on <a href="https://github.com/PreetamJinka/Misframe-Platform">Github</a>.</p>
	h2 Me
	p I like technology, business, art, and music. I'm currently a senior at TJHSST, and I created Bitcable in August 2010.
