div(class='post')
	h1 Contact
	p Again, my name is Preetam Jinka. You can probably Google my name and find one of my online profiles.
	| <p>Email? <a href="http://scr.im/preetam">Sure</a>. I respond quickly (usually).</p>
