html
	background-image: url("/images/bg.png")

body
	padding: 1.3em
	font-family: "Lato", sans-serif
	color: black

a
	text-decoration: none
	color: black
	display: inline-block

em
	font-style: italic
	padding-right: 0.2em

a:hover
	color: #0075ed

#container
	width: 90%
	max-width: 50em
	margin: 0 auto
	background-color: rgba(255,255,255,0.5)
	border: 0.4em solid rgba(255,255,255,0.5)
	box-shadow: 0em 0em 1.4em rgba(0,0,0,0.3)
	-webkit-box-shadow: 0em 0em 1.4em rgba(0,0,0,0.3)

#top h1
	font-size: 2.8em
	font-weight: 300
	float: left
	margin: 0.2em 0 0.0em 0.333em
	display: inline-block
	font-family: "Ubuntu", sans-serif

#menu
	clear: both

#menu a
	padding: 1em

#top h2
	float: right
	line-height: 4.8em
	margin-right: 1.3em
	font-style: italic
	opacity: 0.4
	font-size: 0.8em

.post
	margin: 0.5em 1em 1em 1em

.post+.post
	border-top: 1px solid rgba(0,0,0,0.1)
	padding-top: 1.5em
	margin-top: 2em

.postDate
	float: right
	font-size: 0.75em
	margin-top: 0.7em
	color: #888
	text-shadow: 0 1px 0px white

.post h1
	font-size: 1.5em
	line-height: 1.5em
	font-weight: 700

.post h2
	font-size: 1.2em
	font-weight: 700
	line-height: 2em
	font-style: italic
	margin-top: 1em

.post p
	line-height: 1.7em
	font-weight: 400
	text-align: justify
	text-rendering: geometricPrecision

.post p a
	color: #0075ed
	font-weight: 400
	text-shadow: 0 1px 1px rgba(0,0,0,0.1)

.post blockquote
	box-shadow: 0 0 0.4em rgba(0,0,0,0.2) inset
	padding: 1em
	background-color: rgba(200,200,200,0.1)
	border-left: 0.2em solid #ddd
	color: #333

.post img
	padding: 1em
	max-width: 90%

#footer
	height: 2em
	padding-top: 1em
	text-align: center
	opacity: 0.6
	font-size: 0.7em
	clear: both

p+p
	margin-top: 1em

#comments
	margin: 1em
	font-size: 0.8em

#pagination
	width: 6em
	margin: 0 auto

#pagination .prev
	float: left

#pagination .next
	float: right
