html
	height: 100%

body
	font-family: Lato, arial, sans-serif
	border-top: 0.5em black solid
	text-rendering: optimizeLegibility

#container
	margin: 1em auto
	padding-top: 2.5em
	max-width: 35em
	width: 90%

a
	text-decoration: none
	color: #000

em
	font-style: italic

a:hover
	color: #999

#top h1
	font-weight: 700
	display: inline
	font-size: 1.3em

#top
	text-align: center
	padding-bottom: 0.8em

#menu
	width: 100%
	font-size: 0.9em
	text-align: left
	line-height: 3em

#menu a+a
	margin-left: 1em

.post+.post
	margin-top: 1em
	border-top: 2px solid black

.post .postDate
	float: right
	font-size: 0.8em
	margin-top: 0.8em

.post h1
	font-weight: 700
	line-height: 2em
	display: inline
	padding-bottom: 0.4em
	margin-bottom: 0.5em

.post h2
	font-weight: 700
	line-height: 3em
	font-style: italic

.post p+p
	margin-top: 1em

.post p
	text-align: justify

.post blockquote
	margin: 1em
	padding-left: 0.5em
	border-left: 1px solid #e0e0e0
	color: #333
	font-size: 0.9em

.post p a
	font-weight: 700
	text-decoration: underline

.post img
	max-width: 90%
	margin: 1em auto
	display: block

#pagination
	text-align: center
	line-height: 2em

#footer
	text-align: center
	font-size: 0.8em
	color: #aaa
	margin-top: 1em
